body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url('../images/background-4.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.portfolio {
	margin-top: 5%;
	/*background-color:white;*/
	overflow:visible;
	padding-left:50%;
	padding-right: 50%;
}

.jumbotron {
	font-family: 'Rock Salt', cursive;
	background: transparent !important;
	color: white !important;
	text-align:center;
	margin-top:15%;
}

.description {
	font-family: 'Open Sans', sans-serif;
}

.img-container {
	max-width:100%;
}

.center {
	margin-top:-3%;
	text-align:center;
	margin-left:1%;
}