body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url('./images/background-4.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  font-family: 'Open Sans', sans-serif;

}

.portfolio {
	margin-top: 5%;
}

.jumbotron {
	font-family: 'Oswald', sans-serif;
	/*font-family: 'Rock Salt', cursive;*/
	background: transparent;
	color: white;
	text-align:center;
	margin-top:15%;
}

.selected {
	margin-top:-15%;
}

.jumbotron h1 {
	font-size: 625%;
}

.description {
	font-family: 'Open Sans', sans-serif;
}

.img-container {
	max-width:100%;
}

.center {
	margin-top:-3%;
	text-align:center;
	margin-left:0.2%;
	margin-right:0.2%;
}

.links a{
	margin-left:0.2%;
	margin-right:0.2%;
}

.about {
	margin-top:5%;
	background-color: white;
	border-radius: 4px;
	max-width: 90%;
}

.about-text {
	font-size: 125%;
	vertical-align: middle;
}

.about-text img{
	float:right;
	max-width:300px;
	padding: 20px;
	border-radius:50%;
}


.center button {
	width:200px;
	/*font-family: 'Oswald', sans-serif;	*/
	font-family: 'Montserrat', sans-serif;
}

.animated {
	-webkit-animation-duration: .3s;
}

.contact {
	text-align:center;
	padding-top: .5%;
	color: white;
	font-size: 110%;
	background-color:black;
	padding-bottom: 10px;
}

.contact a {
	color:white;
	text-decoration: none;
}